{% extends "base_content.html" %}
<!-- user_edit.html -->
{% load extra_tags %}
{% load humanize %}
{% load i18n %}
{% block title %}{% spaceless %}{% trans "Edit user profile" %}{% endspaceless %}{% endblock %}
{% block forejs %}
        <script type="text/javascript" src="{% media  "/media/js/jquery-1.4.2.js" %}"></script>
        <script type="text/javascript" src="{% media  "/media/js/jquery-ui-1.8.1.min.js" %}"></script>

        <link href="{% media  "/media/style/jquery-ui-1.10.4.min.css" %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% media  "/media/style/ui.theme.css" %}" type="text/css" media="all" />
        <script type="text/javascript">
            $().ready(function(){
                $("#id_birthday").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: 'yy-mm-dd',
                    minDate: null,
                    maxDate: '0M 0D',
                    yearRange: '1920:2010'
                });

                $("#nav_profile").attr('className',"on");
                $("#cancel").bind('click', function(){history.go(-1);})
            });
        </script>
        {% block userjs %}
            <link rel="stylesheet" href="{% media  "/media/style/user_edit.css" %}" type="text/css" media="all" />
            <!-- script type="text/javascript" src="{% media  "/media/js/user_edit.js" %}"></script> -->

	    <script src="{% media "/media/js/jquery-2.1.4.js" %}" ></script> 
	    <link href="{% media "/media/js/jquery_html5_avatar/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" /> 
	    <link href="{% media "/media/js/jquery_html5_avatar/cropper/cropper.min.css" %}" rel="stylesheet">
	    <link href="{% media "/media/js/jquery_html5_avatar/sitelogo/sitelogo.css" %}" rel="stylesheet">
	    <script src="{% media "/media/js/jquery_html5_avatar/cropper/cropper.min.js" %}" ></script>
	    <script src="{% media "/media/js/jquery_html5_avatar/sitelogo/sitelogo.js" %}" ></script>
	    <script src="{% media "/media/js/jquery_html5_avatar/bootstrap/js/bootstrap.min.js" %}" ></script> 

{% endblock %}
{% endblock %}
{% block content %}
<div id="main-bar" class="headNormal">
    {{ user.username }} - {% trans "edit profile" %}
</div>

<div id="main-body" style="width:100%;padding-top:10px">
    <div id="left" style="float:left;width:180px" >

	<div class="ibox-content">
		<div class="row">
			<div id="crop-avatar" class="col-md-6">
				<div class="avatar-view" title="Change Your Avatar Picture">
			   	 	<img src="{{ settings.UPFACE_ALIAS }}{{ user.img128.path }}" width = '128' height = '128' alt="your avatar">
			  	</div>
			</div>
		</div>
	</div>



<div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form class="avatar-form" action="{% url "edit_user" user.id user.username|slugify %}" enctype="multipart/form-data" method="post">
				 <input type = 'hidden' name = 'for_userpic' value = '1' />
				{% csrf_token %}
				<div class="modal-header">
					<button class="close" data-dismiss="modal" type="button">&times;</button>
					<h4 class="modal-title" id="avatar-modal-label">Change Your Avatar Picture</h4>
				</div>
				<div class="modal-body">
					<div class="avatar-body">
						<div class="avatar-upload">
							<input class="avatar-src" name="avatar_src" type="hidden">
							<input class="avatar-data" name="avatar_data" type="hidden">
							<label for="avatarInput">AVATAR</label>
							<input class="avatar-input" id="avatarInput" name="avatar_file" type="file">
                                                </div>
						<div class="row">
							<div class="col-md-9">
								<div class="avatar-wrapper"></div>
							</div>
							<div class="col-md-3">
								<div class="avatar-preview preview-lg"></div>
								<div class="avatar-preview preview-md"></div>
								<div class="avatar-preview preview-sm"></div>
                                                                <div class="avatar-preview preview-xs"></div>
							</div>
						</div>

						<div class="row avatar-btns">
                                                        <!--  
							<div class="col-md-9">
								<div class="btn-group">
									<button class="btn" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees">
										<i class="fa fa-undo"> </i> left rotate
									</button>
								</div>
								<div class="btn-group">
									<button class="btn" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees">
										<i class="fa fa-repeat"></i> right rotate
									</button>
								</div>
							</div>
                                                        -->
							<div class="col-md-3">
								<button class="btn btn-success btn-block avatar-save" type="submit">
									<i class="fa fa-save"></i> submit
								</button>
							</div>
						</div>
					</div>
				</div>
  		</form>
  	</div>
  </div>
</div>

<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>






<!-- old version, not used
        <form name = "" enctype="multipart/form-data" action ="{% url "edit_user" user.id user.username|slugify %}" method = "post">
            {% csrf_token %}
            <input type = 'hidden' name = 'for_userpic' value = '1' />
            <div id = 'preview' style = "width:128;margin-left:0px;margin-bottom:5px;" >
            {% if not user.imgset %}  
                {% if user.email %}
                    {% gravatar user 128 %}
                {% else %}
                    <img src="{% media  "/media/images/nophoto.png" %}" >
                {% endif %}
                <div style="padding:20px 0 0 20px;font-weight:bold;font-size:150%">
                    <a href="http://www.gravatar.com/" target="_blank" 
                        title="gravatar {% trans "image associated with your email address" %}">{% trans "gravatar" %}</a>
                </div>
            {% else %}
                <a href = "{{ settings.UPFACE_ALIAS }}{{ user.img.path }}" target = "_blank">
                    <img src = "{{ settings.UPFACE_ALIAS }}{{ user.img128.path }}" width = '128' height = '128' >
                </a>   

            {% endif %} 
            </div>
            <div style = "position:relative; width:128;">
	        <label for="newpic" class="submit" style="width:58px;height:34px;display:inline-block;line-height: 2.28;text-align: center;font-family: Trebuchet MS;">New</label>
                <input class="submit" type = "file" onchange="previewImage(this)" id="newpic" name = 'newpic' style ="position:absolute;top:-999px;left:-999px;"/>
                <input type = "submit" value = "Save"  style = "display:none; width:60px;" class="submit" id="submit_img" />

            </div>
        </form>
-->
    </div>

    <div id="askform" style="float:right;width:750px;text-align:left;">

        <form name="" action="{% url "edit_user" user.id user.username|slugify %}" method="post">
            {% csrf_token %}
            <h2>{% trans "Registered user" %}</h2>
            <table class="user-details">
                <tr>
                    <th width="100px"></th>
                    <th></th>
                </tr>
                <tr style="height:35px">
	            	<td>{% trans "Screen Name" %}:</td>
	            	<td>
	            	{% if form.username %}
	            	    {{ form.username }} <span class="form-error"></span> {{ form.username.errors }}
	            	{% else %}
	            	    {{ user.username }}
	            	{% endif %}
	            	</td>
	            </tr>
                
	            <tr style="height:35px">
	            	<td>{{ form.email.label_tag }}:</td>
	            	<td>{{ form.email }} <span class="form-error"></span> {{ form.email.errors }} </td>
	            </tr>
                <tr style="height:35px">
	            	<td></td>
	            	<td class="title-desc">{{ form.email.help_text }}</td>
	            </tr>
                <tr style="height:35px">
	            	<td>{{ form.realname.label_tag }}:</td>
	            	<td>{{ form.realname }} <span class="form-error"></span> {{ form.realname.errors }} </td>
	            </tr>
                <tr style="height:35px">
	            	<td>{{ form.website.label_tag }}:</td>
	            	<td>{{ form.website }} <span class="form-error"></span> {{ form.website.errors }} </td>
	            </tr>
                <tr style="height:35px">
	            	<td>{{ form.city.label_tag }}:</td>
	            	<td>{{ form.city }} <span class="form-error"></span> {{ form.city.errors }} </td>
	            </tr>
                <tr style="height:35px">
	            	<td>{{ form.birthday.label_tag }}:</td>
	            	<td>{{ form.birthday }} <span class="form-error"></span> {{ form.birthday.errors }} </td>
	            </tr>
				<tr>
	            	<td style="vertical-align:top">{{ form.about.label_tag }}:</td>
	            	<td>{{ form.about }} <span class="form-error"></span> {{ form.about.errors }} </td>
	            </tr>
	
            </table>
            <div style="margin:30px 0 60px 0">
                <input type="submit" value="{% trans "Update" %}" class="submit" >
                <input id="cancel" type="button" value="{% trans "Cancel" %}" class="submit" >

            </div>
        </div>
    </form>

</div>
{% endblock %}
<!-- end user_edit.html -->
