{% load i18n %}
<div class="questions-count"><span class='grey'> During last 24 hours:</span></div>
<div class="questions-count">
    <table>
        <tr><td>
                <span class='grey'>        {% trans "questions" %} &nbsp;&nbsp;&nbsp;</span></td>
            <td><span class='orange'>        {{ statistics.questions_last_24 }}</span></td>
        </tr>
        <tr><td><span class='grey'>           {% trans "answers" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></td>
            <td><span class='orange'>{{ statistics.answers_last_24 }}</span></td>
    <tr><td>
            <span class='grey'>             {% trans "logins" %}&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; </span></td>
        <td><span class='orange'>          {{ statistics.users_last_24 }}</span></td></tr>
    </table>
</div>
</div>
